.label {
    -fx-border-color: #FF0000;
}

.button {
    -fx-font-family: "Inter";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-padding: 6px 12px;
}

.button.insert {
    -fx-background-color: #33ff00;
    /* -fx-background-image: url(./assets/insert.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px; */
}

.button.update {
    -fx-background-color: #fffb00;
    /* -fx-background-image: url(./assets/update.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px; */
}

.button.delete {
    -fx-background-color: #ff5500;
    /* -fx-background-image: url(./assets/delete.png);
    -fx-pref-height: 40px;
    -fx-pref-width: 40px; */
}

.text-field {
    -fx-background-radius: 50px;
}
